{% extends 'generator/base.html' %}

{% block content %}
<h1>Password Details</h1>

    {% if saved_passwords %}
        <ul>
            {% for password in saved_passwords %}
                <li>
                    <strong>Purpose:</strong> {{ password.purpose }}<br>
                    <strong>Password:</strong> {{ password.password }}<br>
                    <strong>Created At:</strong> {{ password.created_at }}<br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No saved passwords.</p>
    {% endif %}
    
    <a href="{% url 'home' %}">Back to Home</a>
    {% endblock %}